<table class="table table-hover">
    <thead>
        <tr style="background-color: #f7ecfd">
            <th>
                SL.
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                1
            </td>
            <td>
                Dhaka
            </td>
        </tr>

        <tr>
            <td>
                2
            </td>
            <td>
                Sylhet
            </td>
        </tr>


        <tr>
            <td>
                3
            </td>
            <td>
                Chattogram
            </td>
        </tr>

        <tr>
            <td>
                4
            </td>
            <td>
                Ranpur
            </td>
        </tr>

        <tr>
            <td>
                5
            </td>
            <td>
                Barishal
            </td>
        </tr>

        <tr>
            <td>
                6
            </td>
            <td>
                Mymensingh
            </td>
        </tr>

        <tr>
            <td>
                7
            </td>
            <td>
                Gazipur
            </td>
        </tr>


    </tbody>
</table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#filedatatable").DataTable();
        }
        )
    </script>
}
