<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>


<!-- Custom styles for this template -->
<link href="../assets/css/style.css" rel="stylesheet">
<link href="../assets/css/sidebar.css" rel="stylesheet">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }


    .navbar a, .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-size: 15px;
        font-weight: 600;
        color: #FFF;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .green {
        background-color: #8f9523;
        color: #FFF;
    }

    .red {
        background-color: #f36b6b;
        color: #FFF;
    }

    .maroon {
        background-color: #8b4513;
        color: #FFF;
    }
</style>


<section>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="padding-left: 15px;">
        
        
        
        
        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm green">

                <div class="card-body">
                    <h4 class="card-title"><a href="/FileModel/OpenDummyData"> মেট্রোপলিটন চেম্বার অফ কমার্স অ্যান্ড ইন্ডাস্ট্রি</a></h4>
                    <h1>7</h1>


                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm red">

                <div class="card-body">
                    <h4 class="card-title">বাংলাদেশ উইমেন চেম্বার অব কমার্স অ্যান্ড ইন্ডাস্ট্রি</h4>
                    <h1>18</h1>


                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm maroon">

                <div class="card-body">
                    <h4 class="card-title">জেল্লা চেম্বার অফ কমার্স ইন্ডাস্ট্রি</h4>
                    <h1>68</h1>


                </div>
            </div>
        </div>


    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="padding-left: 15px;">
        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm green">

                <div class="card-body">
                    <h4 class="card-title"> জুথো চেম্বার অফ কমার্স ইন্ডাস্ট্রি</h4>
                    <h1>36</h1>


                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm red">

                <div class="card-body">
                    <h4 class="card-title">upozella chamber</h4>
                    <h1>2</h1>


                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm maroon">

                <div class="card-body">
                    <h4 class="card-title">পেশা জীবি গ্রুপ মালিক</h4>
                    <h1>187</h1>


                </div>
            </div>
        </div>


    </div>


</section>