@* style="width: 100vw"*@
    <section>
        <!--start list dropdown and report number -->
        <div class="row">
            <div class="col-lg-3 total">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Dhaka</button>
                        <button class="dropdown-item" type="button">Sylhet</button>
                        <button class="dropdown-item" type="button">Gazipur</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 total green">Total Submit <br> <a href="FileRequestList?fileStr=Submitted">@ViewBag.Submit</a> </div>

            <div class="col-lg-3 total blue">Total In Progress <br><a href="FileRequestList?fileStr=Progress"> @ViewBag.Progress </a></div>

            <div class="col-lg-3 total maroon">Total Pending <br> <a href="FileRequestList?fileStr=Pending"> @ViewBag.Pending</a></div>
        </div>
        <!--end list dropdown and report number -->
        <div style="height:10px;"></div>
        <!--start 4 green report list -->
        <div class="row">
            <div class="col-lg-3 three_report">নিরীক্ষিত অডিট রিপোর্ট </div>

            <div class="col-lg-3 three_report">বার্ষিক সাধারণ সভার রেজুলেশন</div>

            <div class="col-lg-3 three_report">নির্বাচন রিপোর্ট </div>

            <div class="col-lg-3 three_report">অন্যান্য রিপোর্ট </div>
        </div>
        <!--end 4 green report list -->
        <!-- start details -->
        <div style="margin-top: 20px;">

            <h4 style="text-align: center;">সিলেট মেট্রোপলিটন চেম্বার অব কমার্স এন্ড ইন্ডাস্ট্রিজ</h4>
            <div class="row">
                <div class="col-lg-6" style="text-align: center; font-weight: 500;">
                    চলমান কমিটির মেয়াদ : ২৭/০৫/২০২৩ <br>
                    চলমান কমিটির সদস্য সংখ্যা : ২৭
                </div>
                <div class="col-lg-6" style="text-align: center; font-weight: 500;">
                    চলমান কমিটির মেয়াদ : ২৭/০৫/২০২৩ <br>
                    চলমান কমিটির সদস্য সংখ্যা : ২৭
                </div>
            </div>
        </div>


        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container bootstrap snippets" style="margin-top: 20px;">
            <h4 class="h-title">
            </h4>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="block">
                        <div class="thumbnail">
                            <a href="#" class="thumb-zoom" title=" Mr. Khalil">
                                <img src="assets/img/member/member.png" alt="">
                            </a>
                            <div class="caption text-center">
                                <h6> Mr. Khalil <small>Director</small></h6>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="block">
                        <div class="thumbnail">
                            <a href="#g" class="thumb-zoom" title=" Mr. Gafur">
                                <img src="assets/img/member/member.png" alt="">
                            </a>
                            <div class="caption text-center">
                                <h6> Mr. Gafur <small>Director</small></h6>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="block">
                        <div class="thumbnail">
                            <a href="#" class="thumb-zoom" title=" Mr. Asad">
                                <img src="assets/img/member/member.png" alt="">
                            </a>
                            <div class="caption text-center">
                                <h6> Mr. Asad <small>Director</small></h6>

                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>

        <!-- end details -->

    </section>


@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#flatdatatable").DataTable();
        }
        )
    </script>
}