
<main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>News and Events</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>News and Events</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/news/news-details.jpeg" alt="news">
                        <div class="card-body">
                            <h5 class="card-title">টিসিবির কার্ড স্মার্ট কার্ডে রুপান্তরের কাজ প্রক্রিয়াধীন-বাণিজ্যমন্ত্রী</h5>
                            <p class="card-text">নিম্নআয়ের মানুষকে সাশ্রয়ী মূল্যে নিত্য প্রয়োজনীয় পণ্য সরবরাহের লক্ষ্যে ট্রেডিং করপোরেশন অব বাংলাদেশ-টিসিবির দেওয়া এক কোটি ফ্যামিলি কার্ডকে স্মার্ট কার্ডে রুপান্তরের কাজ প্রক্রিয়াধীন রয়েছে বলে জানিয়েছেন বাণিজ্যমন্ত্রী টিপু মুনশি।</p>
                            <a href="news-detail.html" class="btn btn-primary">Read more...</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/news/jute.webp" alt="jute" style="height: 235px;">
                        <div class="card-body">
                            <h5 class="card-title">সোনালি আঁশ সোনালি স্বপ্ন দেখাচ্ছে : বাণিজ্যমন্ত্রী</h5>
                            <p class="card-text">সরকারের সময়োপযোগী পদক্ষেপের ফলে সোনালি আঁশ তথা পাট আমাদের এখন সোনালি স্বপ্ন দেখাচ্ছে বলে জানিয়েছেন বাণিজ্যমন্ত্রী টিপু মুনশি । আজ রবিবার বাণিজ্য মন্ত্রণালয়ের সম্মেলন কক্ষে জেপিবিপিসি-এর উদ্বোধনী অনুষ্ঠানে প্রধান অতিথির বক্তব্যে</p>
                            <a href="news-detail.html" class="btn btn-primary">Read more...</a>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/img/news/business.jpeg" alt="business">
                        <div class="card-body">
                            <h5 class="card-title">ইরান-বাংলাদেশ বাণিজ্য প্রসারে একত্রে কাজ করার আহবান বাণিজ্যমন্ত্রীর</h5>
                            <p class="card-text">বাংলাদেশ ও ইরানের মধ্যে দ্বিপাক্ষিক সম্পর্ক জোরদারকরণের মাধ্যমে উভয় দেশের ব্যবসা-বাণিজ্য সম্প্রসারণে একত্রে কাজ করার জন্য দেশটির প্রতি আহবান জানিয়েছেন বাণিজ্যমন্ত্রী টিপু মুনশি।</p>
                            <a href="news-detail.html" class="btn btn-primary">Read more...</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->